@{
    ViewData["Title"] = "Admin";
}

<head>
     <link rel="stylesheet" href="/css/custom.css" />

    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body class="container scrollable">
    <div class="tab" id="marg">
        <h3 id="admintable">Events</h3>
        <a href="/event/eventaddition" id="newevent" class="btn btn-info">Create Event</a>
    </div>
    <p>
        <table id ="table" style="width:100%">
            <tr>
                <th></th>
                <th>Event Type</th>
                <th>Date/Time</th>
                <th>Duration</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tbody>
                <tr class="tabboby">

                </tr>
            </tbody>
        </table>
    </p>
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Volunteers</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table id="atable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Approve</th>
                    </tr>

                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'get',
                dataType: "json",
                url: "https://localhost:5001/event/all",
                success: function (results) {
                    for (var a = 0; a < results.length; a++){

                        var i = results[a];

                        var type = i['eventName'];
                        var ti = i['eventDateTime'];
                        var regex = new RegExp('/([0-9]|0[0-9]|1[0-9])/([0 - 9][0 - 9] | [0 - 9]) / [0 - 9]{ 4} at ([0 - 9] | 0[0 - 9] | 1[0 - 9]): [0 - 9]{ 2 }: [0 - 9]{ 2 } (AM | PM)/g');
                        var date = ti.split(regex);
                        var dur = (i['eventDuration']);
                        var desc = i['eventDescription'];
                        var event_id = i['eventId'];

                        $('#table').append('<tr><td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"></button><td>' + type + '</td><td>' + date + '</td><td>' + dur + 'hrs' + '</td><td>' + desc + '</td><td><a href="/event/eventaddition" id="newevent" class="btn btn-info">Delete Event</a></td></tr>');
                        }
                    }
                });
            $.ajax({
                type: 'get',
                dataType: "json",
                url: "https://localhost:5001/eventrequest/all",
                success: function (results) {
                    for (var a = 0; a < results.length; a++) {
                        var i = results[a];
                        var usr = i['eventRequesterId'];
                        var date = (i['eventRequestDate']);
                        var id = i['eventFK'];
                        getdata(usr, id);
                    }
                }
            });
            function getdata(id, event_id) {
                $.ajax({
                    type: 'get',
                    dataType: "json",
                    url: "https://localhost:5001/user/" + id,
                    success: function (results) {
                        var first = results['firstName'];
                        var last = results['lastName'];

                        //var accept = '<form method="post"><div class="form-group"><button type="button" class="btn btn-info" asp-for="responseStatus">Accept</button></div></form>';

                        $('#atable').append('<tr><td>' + first + " " + last + '</td><td>' + event_id + '</td><td><button id ="Accept_button" type="button" class"bt btn-info"">Accept</button></td><td><button type="button" class="btn btn-info">' + 'Deny' + '</button></td></tr>');
                    }
<<<<<<< Updated upstream
                });
            }
            $(document).on('click', '#Accept_button', function (event) {
                alert('hi');
                console.log('hi');
            });
            //$('#Accept_button').click(function accept() {
            //    console.log("work");
            //    $.post("https://localhost:5001/event/response", {
            //        eventRequestFK: event_id,
            //        responseStatus: True,
            //        eventRepsonseComment: "You have been Accepted"
            //    });
            //}); 
=======
                    });
                      function getdata(id,date,event_id) {
                      $.ajax({
                        type: 'get',
                        dataType: "json",
                        url: "https://localhost:5001/user/"+id,
                        success: function (results) {
                            var first = results['firstName'];
                            var last = results['lastName'];
                            
                            
                            //var accept = '<form method="post"><div class="form-group"><button type="button" class="btn btn-info" asp-for="responseStatus">Accept</button></div></form>';
                            $('#atable').append('<tr><td>' + first + " " + last + '</td><td>' + date + '</td><td><button id ="Accept_button" type="button" class"bt btn-info">Accept</button></td><td><button type="button" class="btn btn-info">' + 'Deny' + '</button></td></tr>');
                        }
                     
                      });
                          
                      }

            

            function accept(event_id) {
                console.log("work");
                $.post("https://localhost:5001/event/response", {
                    eventRequestFK: event_id,
                    responseStatus: True,
                    eventRepsonseComment: "You have been Accepted"
                })
            }  
>>>>>>> Stashed changes
        });

    </script>
</body>
