@{
    ViewData["Title"] = "Admin";
}

<head>
     <link rel="stylesheet" href="/css/custom.css" />

    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body id="mainTable" class="container scrollable">
    <div class="tab" id="marg">
        <h3 id="admintable">Events</h3>
        <a href="/event/eventaddition" id="newevent" class="btn btn-info">Create Event</a>
    </div>
    <p>
        <table id ="table" style="width:100%">
            <tr>
                <th>Event Type</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
    </p>
    <script>
        
        $(document).ready(function () {
            $.ajax({
            type: 'get',
            dataType: "json",
            url: 'https://localhost:5001/event/all',
                success: function (results) {
                    for (var a = 0; a < results.length; a++) {

                        var i = results[a];

                        var type = i['eventName'];
                        
                        var ti = new Date(i['eventDateTime']);
                        var day = ti.getDate();
                        var month = ti.getMonth();
                        var year = ti.getFullYear();
                        var dur = (i['eventDuration']);
                        var desc = i['eventDescription'];
                        var event_id = i['eventId'];

                        modalDivs(event_id, a);


                       var feed = `<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal${a}"> View Volunteers </button>`;
                        var del = `<button id="button${a}" onclick="deny('button${a}')" type="button" class="bt btn - info" data-id="` + event_id + `">Delete</button>`;
                        var toAppend = '<tr><td>' + type + '</td><td>' + month + '-' + day + '-' + year + '</td><td>' + dur + ' hours</td><td>' + desc + '</td><td>' + feed + '</td><td>' + del + '</td>/tr>';

                        $('#table').append(toAppend);

                    }

                    function modalDivs(event_id, a) {

                        var name, buttons = requesters(event_id, a)
                        var tableBody = $('<tbody></tbody>').append(name, buttons);

                        var tableHead = $('<tr></tr>').append('<th>Name</th><th>Approve</th>');
                        var table = $(`<table id="table${a}"></table>`).append(tableHead, tableBody);
                        var modalBody = $('<div class="modal-body"></div>').append(table);

                        var modalTitle = $('<h4 class="modal-title"></h4>').text("Volunteers");
                        var times = $('<span aria-hidden="true"></span>').append('&times;');
                        var closeButton = $('<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>').append(times);
                        var modalHeader = $('<div class="modal-header"></div>').append(modalTitle, closeButton);

                        var modalContent = $('<div class="modal-content"></div>').append(modalHeader, modalBody);
                        var modalDialog = $(`<div class="modal-dialog modal-lg"></div>`).append(modalContent);
                        var modal = $(`<div id="modal${a}" class="modal fade"></div>`).append(modalDialog);



                        $('#mainTable').before(modal);
                    }

                    function modalBodyTable(requesterID, eventRequestId, a, i) {
                        $.ajax({
                            type: 'get',
                            dataType: 'json',
                            url: 'https://localhost:5001/user/' + requesterID,
                            success: function (results) {

                                var name = results['firstName'] + ' ' + results['lastName'];
                                var trow = $('<tr></tr>').append('<td>' + name + `</td><td><button id="button${i}${a}" onclick="accept('button${i}${a}')" type="button" class="bt btn - info" data-id="` + eventRequestId + `">Accept</button></td>`);
                                
                                $(`#table${a}`).append(trow);  
                            }
                        });
                        
                    }
                    function requesters(event_id, a) {
                        $.ajax({
                            type: 'get',
                            dataType: 'json',
                            url: 'https://localhost:5001/event/eventrequests/' + event_id,
                            success: function (results) {
                                for (i = 0; i < results.length; i++) {
                                    modalBodyTable(results[i]['eventRequesterId'], results[i]['eventRequestId'], a, i)
                                }

                            }
                        });
                    }
                }
            });
        });
    </script>
    <script>
        function accept(buttonId) {

            var eventRequestId = $(`#${buttonId}`).attr('data-id')
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                accept: 'application/json',
                header: 'application/json',
                type: 'POST',
                url: "https://localhost:5001/event/response",
                data: JSON.stringify({
                    eventRequestFK: eventRequestId,
                    responseStatus: true,
                    eventResponseComment: 'You are Accepted. If you have volunteered for more than 3 days, you must fill out a volunteer registration form. Please do so and bring it by our office so that we can allow you to continue volunteering!'
                }),
                success: function (result) {
                    console.log(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
    <script>
        function deny(buttonId) {
            var event_Id = $(`#${buttonId}`).attr('data-id')
            console.log(event_Id);
            $.ajax({
                url: 'https://localhost:5001/event/delete/' + event_Id,
                type: 'DELETE',
                success: function (result) {
                    console.log(result)
                }
            });
        }
    </script>
</body>
 
