@{
    ViewData["Title"] = "Admin";
}
<head>
     <link rel="stylesheet" href="~/css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>



<body>
    <div class="tab">
        <button class="tablinks" onclick="ChangeTab(event, 'Events')">Events</button>


    </div>
    <div id="Events" class="tabcontent">
        <h3 id="admintable">Events</h3>
        <a href="~/event/eventaddition" id="newevent" class="btn btn-info">Create Event</a>
        <p>
            <table id ="table" style="width:100%">


                <tr>
                    <th>Event Type</th>
                    <th>Date/Time</th>
                    <th>Duration</th>
                    <th>Description</th>
                </tr>

                  <tbody>
                      <tr class="tabboby">

                      </tr>
                  </tbody>

              </table>
          </p>
            <button class ="btnTest">
                load table
            </button>
            <button class='users'>
                users
            </button>

        </div>


        <div id="myModal" class="modal">

          <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3 id="admintable">Event Request</h3>
          <p>
              <table id="atable" style="width:100%">
                  <tr>


                  <th>Name</th>

                  <th>Date</th>

                  </tr>
              </table>
          </p>
            </div>

        </div>

    <script>
        function ChangeTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        $(document).ready(function () {

            $('.btnTest').click(function () {
                console.log(" I am clicked")
                $.ajax({

                    type: 'get',
                    dataType: "json",
                    url: "https://localhost:5001/event/all",
                    success: function (results) {
                        for (var a = 0; a < 3; a++){


                                var i = results[a];



                            var type = i['eventName'];
                            var time = i['eventDateTime'];
                            var dur = (i['eventDuration']);
                            var desc = i['eventDescription'];

                                $('#table').append('<tr><td><a href="silas">'+type+'</td><td>'+time+'</td><td>'+dur+'hrs'+'</td><td>'+desc+'</td></tr>');

                        }
                    }
                });
            });
        });

        $(document).ready(function () {

                $('.btnTest').click(function () {
                    console.log(" I am clicked")
                    $.ajax({
                        type: 'get',
                        dataType: "json",
                        url: "https://localhost:5001/eventrequest/all",
                        success: function (results) {
                            for (var a = 0; a < results.length; a++){


                            var type = i['evenRequestId'];
                            var usr = i['eventRequesterId'];
                            var date = (i['eventRequestDate']);
                            var desc = i['eventDescription'];


                                var usr = i['eventRequesterId'];



                                var date = (i['eventRequestDate']);
                                var name = getdata(usr,date);




                        }
                    }
                    });
                      function getdata(id,date) {
                      $.ajax({
                        type: 'get',
                        dataType: "json",
                        url: "https://localhost:5001/user/"+id,
                        success: function (results) {
                            var first = results['firstName'];
                            var last = results['lastName'];

                            console.log(first);
                            console.log(last);
                            $('#atable').append('<tr><td>' + first +" "+ last + '</td><td>' + date + '</td></tr>');
                        }

                      });

                }
            });
            });
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            $('.users').click(function () {
                modal.style.display = "block";
            });
            $('span').click(function () {
                modal.style.display = "none";
            })





    </script>
</body>
