@{
    ViewData["Title"] = "Contact Us";
}

<head>
     <link rel="stylesheet" href="/css/custom.css" />

    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   
</head>

<body class="container">
    <div id="marg" class="row">
        
        <div class="col-sm-6">
            <h3>Locations</h3>
            <h4>Salvation Army Office & Store </h4>
            <ul style="list-style-type:none;">
                <li id="contact">Address- 2125 Harkrider St, Conway, AR 72032</li>
                <li id="contact">Hours- 10AM-5PM</li>
                <li id="contact">Phone Number- (501) 329-1712</li>
            </ul>
        </div>
            <div  id="marg" class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4492.388834411446!2d-92.44328526342454!3d35.10633701327047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d28223ea8d999b%3A0xc28aab28adab114c!2sSalvation%20Army!5e0!3m2!1sen!2sus!4v1576527643824!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    
    </div>
        
    
    <div class="row">
        
        <div class="col-sm-6">
            <h4>Salvation Army Office</h4>
            <ul style="list-style-type:none;">
                <li id="contact">Address- 2125 Harkrider St, Conway, AR 72032</li>
                <li id="contact">Hours- 10AM-5PM</li>
                <li id="contact">Phone Number- (501) 329-1712</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d166147.00978034877!2d-92.72998045517721!3d35.077957862680336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cd7dfa88a5a67d%3A0x7f47bfaf16bfd405!2sThe%20Salvation%20Army%20-%20Conway!5e0!3m2!1sen!2sus!4v1576527742690!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        
    </div>
  
</body>
