
@model IEnumerable<Event>

@{
    ViewData["Title"] = "Ways To Help";

}
    <head>
        <link rel="stylesheet" href="~/css/custom.css" />
        <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/theme1.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="~/js/caleandar.js"></script>
        <script src="~/js/events.js"></script>
    </head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div id="scrollable">
        <div class="row">
            <div class="col-md-8">
                @foreach (var ev in Model)
                {
                    <div class="card mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@ev.eventName</h5>
                            <p class="card-text">@ev.eventDescription</p>
                            <p class="card-text"><small class="text-muted">@ev.eventDateTime</small></p>
                            <a href="~/event/eventrequest/?id=@ev.eventId" class="btn btn-primary">volunteer</a>
                            <a href="#" class="btn btn-primary">View Feedback</a>
                        </div>
                    </div>
                }
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="grid">
        <div class="box box1">
            <h3 class="event">
                Red Kettle
            </h3>
            <p class="description">
                In 1891, Salvation Army Captain Joseph McFee was distraught because so many poor individuals in San Francisco were going hungry. During the holiday season, he resolved to provide a free Christmas dinner for the destitute and poverty-stricken. He only had one major hurdle to overcome -- funding the project.Where would the money come from, he wondered. He lay awake nights, worrying, thinking, praying about how he could find the funds to fulfill his commitment of feeding 1,000 of the city's poorest individuals on Christmas Day. As he pondered the issue, his thoughts drifted back to his sailor days in Liverpool, England. He remembered how at Stage Landing, where the boats came in, there was a large, iron kettle called "Simpson's Pot" into which passers-by tossed a coin or two to help the poor.
                The next day Captain McFee placed a similar pot at the Oakland Ferry Landing at the foot of Market Street. Beside the pot, he placed a sign that read, "Keep the Pot Boiling." He soon had the money to see that the needy people were properly fed at Christmas.
            </p>
            <h5 class="event">
                Upcoming Dates
            </h5>
            <div id="Events" class="tabcontent">
                <h3 id="helptable">Events</h3>
                <a href="~/event/eventaddition" id="newevent" class="btn btn-info">Create Event</a>
                <p>
                    <table id="table" style="width:100%">
                        <table style="width:100%">
                            <tr>
                                <th>Event Type</th>
                                <th>Date/Time</th>
                                <th>Duration</th>
                                <th>Description</th>
                            </tr>
                            <tbody>
                                <tr class="tabboby"></tr>
                            </tbody>
                        </table>
                </p>
                <button class="btnTest">
                    load table
                </button>
            </div>
            <!--<div class="btn btn-info"><a href="~/event/eventrequest/Redikatle">Register</a></div>-->
            <input id="Register" type="button" value="Register"><a href="Home/eventrequest"></a></input>
        </div>
        <div class="box box2">
            <img class="customImage" src="~/images/redketlle.png">
            <div class="container" id="caleandar">

            </div>
        </div>
        <div class="box box3">
            <h3 class="event">
                Angel Tree
            </h3>
            <p class="description">
                The Salvation Army's Angel Tree program provides new clothing and/or toys for children of needy families. Each Angel Tree is decorated with numbered paper angel tags with the first name, age, and gender of a child who is in need of a gift.
            </p>
            <h5 class="event">
                Upcoming Dates
            </h5>
            <div id="Events" class="tabcontent">
                <h3 id="helptable">Events</h3>
                <a href="~/event/eventaddition" id="newevent" class="btn btn-info">Create Event</a>
                <p>
                    <<<<<<< HEAD
                    <table id="table" style="width:100%">
                        =======
                        <table style="width:100%">

                            >>>>>>> master
                            <tr>
                                <th>Event Type</th>
                                <th>Date/Time</th>
                                <th>Duration</th>
                                <th>Description</th>
                            </tr>
                            <<<<<<< HEAD

                            =======
                            <tbody>
                                <tr class="tabboby"></tr>
                            </tbody>
                            >>>>>>> master
                        </table>
                </p>
                <button class="btnTest">
                    load table
                </button>
            </div>

            <div id="Users" class="tabcontent">
                <h3 id="admintable">Event Request</h3>
                <p></p>
            </div>
            <input id="Register" type="button" value="Register" />
        </div>

        <script>
    function ChangeTab(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            $(document).ready(function () {

                $('.btnTest').click(function () {
                    console.log(" I am clicked")
                    $.ajax({
                        type: 'get',
                        dataType: "json",
                        url: "https://localhost:5001/event/all",
                        success: function (results) {
                            for (var a = 0; a < 3; a++) {
                                console.log(results[a]);

                                var i = results[a];

                                console.log(i['eventDuration']);

                                var type = i['eventName'];
                                var time = i['eventDateTime'];
                                var dur = (i['eventDuration']);
                                var desc = i['eventDescription'];

                                $('#table').append('<tr><td>' + type + '</td><td>' + time + '</td><td>' + dur + '</td><td>' + desc + '</td></tr>')

                            }
                        }
                    });
                });
            });</script>
</body>
