@{
    ViewData["Title"] = "Ways To Help";
}
<head>
     <link rel="stylesheet" href="~/css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="grid">
        <div class="box box1">
            <h3 class="event">
                Red Kettle
            </h3>
            <p class="description">In 1891, Salvation Army Captain Joseph McFee was distraught because so many poor individuals in San Francisco were going hungry. During the holiday season, he resolved to provide a free Christmas dinner for the destitute and poverty-stricken. He only had one major hurdle to overcome -- funding the project.Where would the money come from, he wondered. He lay awake nights, worrying, thinking, praying about how he could find the funds to fulfill his commitment of feeding 1,000 of the city's poorest individuals on Christmas Day. As he pondered the issue, his thoughts drifted back to his sailor days in Liverpool, England. He remembered how at Stage Landing, where the boats came in, there was a large, iron kettle called "Simpson's Pot" into which passers-by tossed a coin or two to help the poor.
            The next day Captain McFee placed a similar pot at the Oakland Ferry Landing at the foot of Market Street. Beside the pot, he placed a sign that read, "Keep the Pot Boiling." He soon had the money to see that the needy people were properly fed at Christmas.
            </p>
            <h5 class="event">
                Upcoming Dates
            </h5>
            <p class="dates">
                <!--<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=YWM0NXVsYXRrNGg2MnJzN2thYWI1ZW0xOGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23DD4477" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
            </p>
            <div class="btn btn-info"><a href="eventrequest/?Redketlle">Register</a></div>
            <input id="Register" type="button" value="Register"><a href="Home/eventrequest"></a></input>
        </div>
        <div class="box box2">
            <img class="customImage" src="~/images/redketlle.png">
        </div>
        <div class="box box3">
            <h3 class="event">
                Angel Tree
            </h3>
            <p class="description">
                The Salvation Army's Angel Tree program provides new clothing and/or toys for children of needy families. Each Angel Tree is decorated with numbered paper angel tags with the first name, age, and gender of a child who is in need of a gift.
            </p>
            <h5 class="event">
                Upcoming Dates
            </h5>
            <p class="dates">
                <!--<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=YWM0NXVsYXRrNGg2MnJzN2thYWI1ZW0xOGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23DD4477" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
            </p>
            <input id="Register" type="button" value="Register"/>
        </div>
        <div class="box box4">
            box 4
        </div>
    </div>

</body>
