@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link rel="stylesheet" href="~/css/custom.css" />
        <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body> 
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row text-center">
                    <h1 class="col-sm-8">@ViewData["Title"]</h1>                    
                </div>
            </div>
        </div>

        <div class="main">
            <section class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-sm-7">
                        <h2>Our Mission</h2>
                    </div>
                    
                </div>
                <div class="row justify-content-center text-center" id="pad">
                    <div class="col-sm-7">
                        <p>The Salvation Army, an international movement, is an evangelical part of the universal Christian
                            Church. Its message is based oon the Bible. Its ministry is motivated by the love of God. Its 
                            mission is to preach the gospel of Jesus Christ and to meet human needs in His name without 
                            discrimination.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>