@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}
    <head>
        <script src="https://kit.fontawesome.com/ad6a81734d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/custom.css" />
    </head>
<h1 id="login_header">Login</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div id ="log_reg" class="form-group">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <label for="Email">Email</label>
                <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div id ="log_reg"class="form-group">
                <i class="fas fa-key" aria-hidden="true"></i>
                <label for="Password">Password</label>
                <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password">
                <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                <input class="form-control col-sm-4" value="Show Password" type="button" id="showPassword"/>
            </div>
            
            <div class="form-group">
                <label for="RememberMe">
                    <input class="form-control" type="checkbox" data-val="true" data-val-required="The Remember me field is required." id="RememberMe" name="RememberMe" value="true">
                    Remember me
                </label>
            </div>
            
            <button id="button1" type="submit" class="btn btn-primary">Login</button>
        @*<input name="__RequestVerificationToken" type="hidden" value="CfDJ8OZRytqGjWNEjmm5lNWbbA4QbTKNuzp2dAWmUxUXfDlU4MdRo0VC9BJ7Irjjcx-3bsw-uBfYK-9723M-E4t0uFUUXglXGEGD7bAuWsxnMzHhX0hwOTX1p-bejSkH4ONUDjfhMOyBcMNpkmty_dYln1M"><input name="RememberMe" type="hidden" value="false">*@
        </form>
    </div>
</div>
<script>
    function show() {
        var p = document.getElementById('Password');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('Password');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("showPassword").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);
</script>
        
    

