@model EventRequestViewModel


@{
    ViewData["Title"] = "User";
}

    <head>
        <script src="https://kit.fontawesome.com/ad6a81734d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/custom.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<body>
    <h1>Profile</h1>
    <div class="col-sm-6" id="info">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label id="reg" asp-for="firstName">First Name</label>
                <input value="" asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="reg" asp-for="lastName">Last Name</label>
                <input value="" asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="reg" asp-for="birthDate">Date of Birth</label>
                <input value="" type="date" asp-for="birthDate" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="reg" asp-for="phoneNumber">Phone Number</label>
                <input value="" asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="reg" asp-for="email">Email</label>
                <input value="@User.Identity.Name" asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
</div>



    <!--<div class="col-sm-6">
        <div id="scrollable">
            <div class="col-md-6">
                
                    
                        <div class="card mb-2" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">A reminder that you have signed up for  at:</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                                <a href="#" class="btn btn-primary">Got it</a>
                            </div>
                        </div>
                    
                
            </div>
        </div>-->
    

    <script>
        
    </script>
</body>
