@{

}

    <head>
        <script src="https://kit.fontawesome.com/ad6a81734d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/custom.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<body>
    <h1>Profile</h1>
    

    <script>
        $(document).ready(function () {

            function getUserInfo(){
                var email = @User.Identity.Name;
                console.log(email);

                $.ajax({
                    type: 'get',
                    datatype: 'json',
                    url: "https://localhost:5001/users/" + email,
                    success: function (results) {
                    var fName = results['firstName'],
                    var lName = results['lastName'],
                    var birth = results['birthDate'],
                    var phone = results['phoneNumber'],
                    }
                })

                console.log(fName);
                console.log(lName);
                console.log(birth);
                console.log(phone);
           
            }

            window.onload({
                getUserInfo();
            })
        })
            

            
    </script>
</body>
