@{
    ViewData["Title"] = "My Events";
}
<head>
    <link rel="stylesheet" href="~/css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap" rel="stylesheet">

</head>



<body id="mainTable">
    <h1>My Events</h1>

    <div>
        <h3 id="admintable">Your Events</h3>
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Event Type</th>
                    <th>Date/Time</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/myEvents.js"></script>
</body>