body{
    background-image:url(/Users/silasmyane/Desktop/SalvationArmyProject/SalvationArmyProject/SalvationArmyProject/images/dot-grid.png);

}
.navbar {
    background-color: rgb(52,70,95);

}

.navbar-brand{
    color: white;
}

#button {
    overflow:hidden;
    position: absolute;
    top: 30%;
    right: 5%;
}
.grid{
    position:relative;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:1em;
    grid-auto-rows:minmax(300px,auto);
}
.grid > div{
    background-color:#AEA4A4;
}
.event{
    text-align:center;
    color:white;
    font-family: 'McLaren', cursive;
}
#Register{
    float:inherit;
}
.description{
    padding-left:5px;
    color:white;
}

#logo {
    height:2.5em;
    width: 2.2em;
}

#maintitle {
    color:white;
}

.customImage {
    width: 600px;
}

.jumbotron {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    background-image: url("../images/redketlle.png");
    background-size: cover;
    height: 450px;
    color: rgb(200,90,0);
}

#Register{
    float:inherit;
}
.description{
    padding-left:5px;
    color:white;
}

#logo {
    height:2.5em;
    width: 2.2em;
}

#maintitle {
    color:white;
}

.customImage {
    width: 600px;
}
#login_header{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid red;
    margin-bottom: 20px;
}

#log_reg{
  width: 50%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid red;
  
}
.form-control{
  outline:none;
  background: none;
  font-size: 18px;
  width: 50%;
  margin: 0 10px;
  color: black;
}
.nav-item{
   -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.nav-item:hover{
  background-color: #49648a;
}
#button1{
  background-color: white;
  color: black;
}
.active a{
    background-color: #49648a;
}
#reg{
    border-bottom:2px solid red;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}